.hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./archivos/blue-sedan-car-driving-on-the-road-in-cloudy-weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero h1 {
    color: white;
    font-weight: bold;
    font-size: 70px;
        color: white;
        font-weight: bolder;
        margin: 0px auto;
        text-align: center;
       
    }
        ul{
            list-style: none;
            display: flex;
            margin: 0px;}

        nav ul li a{
            text-decoration: none;
            color: #000000;
            margin: 10px;
          font-weight: bolder;
        
            
        }
    
        .logobmw{
            width: 50px;
            
        }
        header{
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #FDEBD0;
            justify-content: space-between;
            -webkit-box-shadow: 20px 20px 20px #3f3e3ec5;
            -moz-box-shadow:    20px 20px 20px #272726c5;
            box-shadow:         20px 20px 20px #0f0f0fc5;
            z-index:999;
            background-color: #f5e6cf !important;
            
        
        }

     .titulostextos{
     text-align: center;
    
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,231,205,1) 0%, rgba(253,235,208,1) 43%, rgba(255,255,255,1) 100%);
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
     }

     .fotogaleria img{
     width: 380px; 
     }

     .fotogaleria {
        display: flex;
        justify-content: space-evenly;
        margin-left: 110px;
        
     }
     body{
        
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,231,205,1) 0%, rgba(253,235,208,1) 43%, rgba(255,255,255,1) 100%);
     }
     
     .firma {
        width: 150px;
        
    
        
   
      
        
     }
  
     .ladoizquierdo{
        display: flex;
        align-items: center;
       
     }

     .videostexto{
        text-align: center;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,231,205,1) 0%, rgba(253,235,208,1) 43%, rgba(255,255,255,1) 100%);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 41px;
         
     }

     .videosbmw{
 margin-left:25px;
       
     }

     .video-texto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
     }
     
     .video-texto p {
        width: 500px;
        color: rgb(0, 0, 0);
        margin-left: 40px;
     }

   .sobrenosotros{
      color: rgb(0, 0, 0);
     text-align: center;
   }